* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#homepage-header {
    background-image: url('../images/costa.jpg')
}

#bodyindex {
    overflow: hidden;
    /* Hide scrollbars */
}

body::-webkit-scrollbar {
    display: none;
}

/* stedetrips */
.stedetripsblokin1 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    justify-content: center;
}

.stedetripsblokin2 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.stedetriptekst1 {
    color: black;
    font-size: 35px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.stedetriptekst2 {
    color: black;
    font-size: 25px;
    margin-left: 45px;
}

.stedetripsdoos1 {
    width: 100vw;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stedetripsblok1 {
    width: 89vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
    margin-top: 1.3%;
}

.boekknop {
    border: rgb(200, 200, 200) solid 4px;
    width: 100px;
    height: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 45px;
    margin-top: 15px;
    color: black;
    border-radius: 50px;
}

.boekknop:hover {
    background-color: rgb(200, 200, 200);
}

.backbooking {
    margin-top: 45px;
    font-size: 25px;
    border: solid rgb(200, 200, 200) 4px;
    border-radius: 50px;
    height: 50px;
    width: 100px;
    margin-left: 45px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backbooking:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

#booking {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#bookingblok {}

/* Universal */
.universaldoos1 {
    width: 100vw;
    height: 77.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.universalblok1 {
    width: 89vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
}

/* Zomervakantie */
.zmv1 {
    width: 70%;
    height: 100%;
    background-color: red;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.zmv2 {
    width: 30%;
    height: 100%;
    background-color: red;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

/* verre reizen */
.verrereis {
    width: 89vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
}

.verrereizenblokje1 {
    width: 30%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.verrereizenblokje2 {
    width: 70%;
    height: 100%;
    border-radius: 40px;
    border-left: rgb(200, 200, 200) solid 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tekstvoorverreizen {
    color: black;
    font-size: 45px;
    margin-left: 10px;
}

.landenlol {
    color: black;
    font-size: 30px;
    margin-left: 10px;
    width: 80%;
}

/* INDEX.PHP */
.indexdoos1 {
    width: 100vw;
    height: 85vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.indexblok1 {
    width: 89vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    background-color: white;
    border: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
}

.indexbalk1 {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border-bottom: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
}

.indexbalkbutton {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-right: 4px solid rgb(200, 200, 200);
    border-radius: 40px;
    transition: background-color 0.3s;
}

.hideindexbalkbutton {
    display: none;
}

.indexbuttontekst1 {
    font-size: 25px;
}

.indexbloktekst {
    width: 1200px;
    height: 300px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
}

.indextekst2 {
    color: black;
    font-size: 35px
}

.indextekst3 {
    color: black;
    font-size: 35px
}

.indextekst3:hover {
    background-color: rgb(200, 200, 200);
}

.indexbalkbutton:hover {
    background-color: rgb(200, 200, 200);
}

.indexbalkbutton2:hover {
    background-color: rgb(200, 200, 200);
}


/* Landen.php */
.landendoos1 {
    width: 100vw;
    height: 77.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landenblok1 {
    width: 89%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    border: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
}

.landenblokin1 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    justify-content: center;
}

.landenblokin2 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.landentekst1 {
    color: black;
    font-size: 35px;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.landentekst2 {
    color: black;
    font-size: 25px;
    margin-left: 45px;
}

.countryimg {
    width: 700px;
    border-radius: 40px;
}


/* Zomvervakantie.php */
.zomervakantiedoos1 {
    width: 100vw;
    height: 77.5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.zomervakantieblok1 {
    width: 89%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    background-color: white;
    border: 4px rgb(200, 200, 200) solid;
    border-radius: 40px;
}

/*----*/
.info {
    position: absolute;
    z-index: -1;
}

.topbalk {
    width: 100%;
    height: 50px;
    background-color: #66C3F4;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 8%;
    border-bottom: 4px rgb(200, 200, 200) solid;
}

.bar a {
    padding: 0px 12px;
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.account {
    width: 68px;
    border-radius: 100%;
    transition: rotate 36s;
}


/* random */
#rmove {
    height: 25px;
    transition: margin-left 0.2s, margin-top 0.2s;
    background-color: darkturquoise;
}

.square {
    position: absolute;
    top: 40%;
    right: 50%;
    width: 180px;
    height: 180px;
    border: darkred 2px solid;
    z-index: -1;
}


/* Favorites */
.navbalkfavorites {
    width: 100%;
    height: 100px;
    /* placeholder colors v */
    background-color: gray;
}

.favoritesdoos1 {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1536px;
}

.favoritesSpace1 {
    width: 25%;
    height: 100%;
    background-color: yellow;
}

.favoritesblok1 {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}


/* login */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 70px;
    border-radius: 15px;
    font-size: 20px;
    background-color: rgba(15, 15, 15, 0.7);
    margin-top: 10vh;
    color: white;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form input {
    border: 0px;
    margin: 1px;
    margin-left: 20px;
    width: 240px;
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
}

.form div {
    display: flex;
    justify-content: space-between;
}

.form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    transition: background-color 0.3s, color 0.3s;
    color: rgb(200, 200, 200);
    border-radius: 5px;
    height: 36px;
    font-size: 20px;
}

.form input[type="submit"]:hover {
    background-color: rgb(81, 81, 81);
    color: white;
}

.form a {
    color: white;
}

.back {
    color: rgb(22, 22, 22);
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 22px;
}


/* Admin panel */